<div class="card">
    <h5 class="card-header text-start"> 소식 알리기</h5>
    <div class="card-body">
        <div class="card-text text-muted create-post"
            data-bs-toggle="modal" data-bs-target="#newpost" 
        >
            <%= currentUser.username %>의 소식을 공유해주세요!
        </div>
    </div>
</div>